<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h2>Rachana Naganagouda Patil</h2>
<h1>1001644227</h1>

<p>
 <form action="/withoutcache" method="POST">
    <!--Magnitude Range1:<input type="text" name="m1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="m2" maxlength="200" width="60"> <br/>-->
    Latitude1:<input type="text" name="lat1" maxlength="200" width="60"> <br/>
    Longitude1:<input type="text" name="long1" maxlength="200" width="60"> <br/>
    Latitude2..:<input type="text" name="lat2" maxlength="200" width="60"> <br/>
    Longitude2:<input type="text" name="long2" maxlength="200" width="60"> <br/>
    <!--Date1:<input type="text" name="t1" maxlength="200" width="60"> <br/>
    Date2:<input type="text" name="t2" maxlength="200" width="60"> <br/>-->
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="time for queryrun without cache"><br/><br/>
</form>
</p>
<p>
 <form action="/rediscache" method="POST">
    <!--Magnitude Range1:<input type="text" name="m1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="m2" maxlength="200" width="60"> <br/>-->
    Latitude1:<input type="text" name="lat1" maxlength="200" width="60"> <br/>
    Longitude1:<input type="text" name="long1" maxlength="200" width="60"> <br/>
    Latitude2:<input type="text" name="lat2" maxlength="200" width="60"> <br/>
    Longitude2:<input type="text" name="long2" maxlength="200" width="60"> <br/>
    <!--Date1:<input type="text" name="t1" maxlength="200" width="60"> <br/>
    Date2:<input type="text" name="t2" maxlength="200" width="60"> <br/>-->
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="time for query run with redis cache"><br/><br/>
</form>
</p>
</body>
</html>
