<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Rachana Naganagouda Patil</h1>
<h5>1001644227</h5>

<p>
 <form action="/withoutcache" method="POST">
    Magnitude Range1:<input type="text" name="m1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="m2" maxlength="200" width="60"> <br/>
    Date1:<input type="text" name="t1" maxlength="200" width="60"> <br/>
    Date2:<input type="text" name="t2" maxlength="200" width="60"> <br/>
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="query without cache"><br/><br/>
</form>
</p>
<p>
 <form action="/rediscache" method="POST">
    Magnitude Range1:<input type="text" name="m1" maxlength="200" width="60"> <br/>
    Magnitude Range2:<input type="text" name="m2" maxlength="200" width="60"> <br/>
    Date1:<input type="text" name="t1" maxlength="200" width="60"> <br/>
    Date2:<input type="text" name="t2" maxlength="200" width="60"> <br/>
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="query with cache"><br/><br/>
</form>
</p>
</body>
</html>
