<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Rachana Naganagouda Patil</h1>
<h5>1001644227</h5>

<p>
 <form action="/displaydata" method="POST">
    Magnitude Range:<input type="text" name="m" maxlength="200" width="60"> <br/>
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="query without cache"><br/><br/>
</form>
</p>
<p>
 <form action="/multiplerun" method="POST">
    Magnitude Range:<input type="text" name="m" maxlength="200" width="60"> <br/>
	Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
   <input type="submit" value="query with cache"><br/><br/>
</form>
</p>
</body>
</html>
