<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Values</title>
</head>
<body>
<h2>Patil, Rachana Naganagouda......</h2>
<h1>1001644227</h1>

{{value}}

 <table>
    <thead>
    <tr>
        <th>Quake Result:::::::::::::::::::::::::::::</th>

    </tr>
    </thead>
    <tbody>
        {% for rows in value %}
            <tr>

                <td>The result({{rows[0]}})</td>
                <td>{{rows[1]}}</td>
                <td>{{rows[2]}}</td>
                <td>{{rows[9]}}</td>



            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
