<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searchearth</title>
</head>
<body>
<h2>Rachana Naganagouda Patil</h2>
<h1>1001644227</h1>
<h1>Time to run Queries without cache</h1>
  <p><b>{{t}}</b> </p>
<p>
{% block content %}
{% for city in ci %}

  <!-- This retrives all the data based on the content typed in textbox of index.html -->
  <!--<p>The mag is <b>{{city['mag']}}</b> the time is <b> {{city['time']}} </b>.-->
<p>Result:{{city[4]}}</p>

{% endfor %}
{% endblock %}
</p>
</body>
</html>
